html,
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

* {
  outline: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  outline: none; }

button,
input {
  overflow: visible; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button {
  border: 0;
  outline: 0; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2rem; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

[hidden] {
  display: none; }

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
  border-style: none; }

a {
  color: currentcolor;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

label {
  margin-bottom: 0; }

li {
  list-style: none; }

ul {
  margin: 0;
  padding: 0; }

:root {
  --ff: "Work Sans", sans-serif;
  --transition: 0.2s all ease-in-out;
  --hover: #8842f0;
  --bgcolor: #f9f1fe;
  --white: #fff;
  --black: #000;
  --text: #262626;
  --desc: #575757;
  --gray: #6c6c6c;
  scroll-behavior: smooth; }

html {
  font-size: 1px; }

body {
  font-family: var(--ff);
  font-size: 16rem;
  padding: 0 20rem;
  margin-inline: auto; }

.container {
  max-width: calc(1170rem - 40rem);
  padding: 0 20rem;
  margin-inline: auto; }

.btn {
  display: inline-block;
  cursor: pointer;
  border: 0;
  font-family: var(--ff);
  border-radius: 50rem; }

h2 {
  font-family: var(--ff);
  font-weight: 700;
  font-size: 48rem;
  color: var(--text);
  text-align: center;
  margin-top: 70rem; }

.all__desc {
  font-family: var(--ff);
  font-weight: 400;
  font-size: 16rem;
  text-align: center;
  color: var(--text);
  padding: 0 150rem;
  margin-bottom: 123rem; }
  @media (max-width: 576px) {
    .all__desc {
      padding: 10rem; } }

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0); }

* ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #d1d1d1; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(100% + 20rem);
  margin-left: -10px; }

.col-5 {
  width: 20%;
  padding: 0 10rem 10rem; }
  @media (max-width: 576px) {
    .col-5 {
      width: 100%; } }

.col-4 {
  width: 25%;
  padding: 0 10px 10px; }
  @media (max-width: 576px) {
    .col-4 {
      width: 100%; } }

.col-3 {
  width: 33.33%;
  padding: 0 10px 10px; }
  @media (max-width: 576px) {
    .col-3 {
      width: 100%; } }

.col-25 {
  width: 40%;
  padding: 0 10px 10px; }
  @media (max-width: 576px) {
    .col-25 {
      width: 100%; } }

.col-2 {
  width: 50%;
  padding: 0 10px 10px; }
  @media (max-width: 576px) {
    .col-2 {
      width: 100%; } }

.col-2m {
  width: 50%;
  padding: 0 10px 10px; }

.col-23 {
  width: 66.66%;
  padding: 0 10px 10px; }
  @media (max-width: 576px) {
    .col-23 {
      width: 100%; } }

.col-1 {
  width: 100%;
  padding: 0 10px 10px; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-inline: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1rem solid var(--white);
  margin-top: 40rem; }
  @media (max-width: 1200px) {
    .header {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      gap: 20rem; } }
  .header .header__logo {
    font-weight: 600;
    font-size: 24rem;
    color: var(--txt); }
  .header__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20rem; }
    @media (max-width: 992px) {
      .header__ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        position: fixed;
        width: 80%;
        height: 100%;
        -ms-flex-direction: column;
            flex-direction: column;
        left: 0;
        top: 0;
        background: var(--bgcolor);
        color: var(--hover);
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-transform: translateX(-120%);
                transform: translateX(-120%);
        -webkit-transition: var(--transition);
        transition: var(--transition);
        z-index: 2; } }
    .header__ul._active {
      -webkit-transform: translateX(0);
              transform: translateX(0); }
    .header__ul .icon-close {
      position: absolute;
      top: 40rem;
      right: 40rem; }
  .header__a {
    font-weight: 400;
    font-size: 16rem; }
  .header__a:hover {
    font-weight: 600;
    font-size: 16rem;
    text-decoration: underline;
    color: var(--hover); }
  .header .btn {
    display: inline-block;
    cursor: pointer;
    border: 0;
    border-radius: 50px; }
  .header .icon-menu,
  .header .icon-close {
    cursor: pointer;
    display: none; }
    @media (max-width: 992px) {
      .header .icon-menu,
      .header .icon-close {
        display: inline-block; } }

.header-form {
  border-radius: 50rem;
  background: var(--black);
  font-weight: 400;
  font-size: 14rem;
  color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13rem 10rem; }
  .header-form__input {
    width: 100%;
    border: 0;
    border-radius: 50rem;
    background: var(--black);
    font-weight: 400;
    font-size: 14rem;
    color: var(--white);
    width: 278rem; }
    @media (max-width: 1200px) {
      .header-form__input {
        width: 100%; } }
  .header-form__input::-webkit-input-placeholder {
    color: var(--white); }
  .header-form__input:-ms-input-placeholder {
    color: var(--white); }
  .header-form__input::-ms-input-placeholder {
    color: var(--white); }
  .header-form__input::placeholder {
    color: var(--white); }
  .header-form__btn {
    border-radius: 50rem;
    background: var(--black);
    color: var(--white); }

.join {
  border-radius: 10rem;
  padding: 77rem 20rem 83rem 20rem;
  text-align: center;
  background: #1c1b1f;
  margin-bottom: 135rem; }
  .join__title {
    font-family: var(--ff);
    font-weight: 700;
    font-size: 36rem;
    color: var(--white);
    margin-bottom: 47rem; }

.join-form {
  border-radius: 50rem;
  background: var(--bgcolor);
  padding: 10rem 31rem;
  padding-right: 14rem;
  gap: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 717rem;
  margin-inline: auto; }
  .join-form__input {
    width: 100%;
    background: transparent;
    border: 0;
    font-family: var(--ff);
    font-weight: 400;
    font-size: 16rem;
    color: var(--text); }
    .join-form__input::-webkit-input-placeholder {
      color: var(--gray); }
    .join-form__input:-ms-input-placeholder {
      color: var(--gray); }
    .join-form__input::-ms-input-placeholder {
      color: var(--gray); }
    .join-form__input::placeholder {
      color: var(--gray); }
  .join-form__btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: var(--hover);
    padding: 10rem 25rem;
    font-family: var(--ff);
    font-weight: 600;
    font-size: 20rem;
    color: var(--white); }
    @media (max-width: 576px) {
      .join-form__btn {
        padding: 10rem; } }
    @media (max-width: 576px) {
      .join-form__btn-text {
        display: none; } }
    .join-form__btn .material-icons {
      display: none; }
      @media (max-width: 576px) {
        .join-form__btn .material-icons {
          display: inline-block; } }

.welcome {
  margin-top: 54rem;
  margin-bottom: 111rem; }

.services {
  cursor: pointer; }
  .services__box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 3fr);
    grid-column-gap: 30rem;
    grid-row-gap: 0rem; }
    @media (max-width: 992px) {
      .services__box {
        display: grid;
        grid-template-columns: repeat(1, 3fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0;
        grid-row-gap: 30rem; } }
  .services__box :hover {
    background-color: var(--hover);
    color: var(--white); }
  .services__item {
    border-radius: 15rem;
    background: var(--bgcolor);
    text-align: center;
    color: currentcolor;
    padding: 46rem 26rem; }
  .services svg {
    margin-bottom: 28rem; }
  .services__title {
    font-weight: 600;
    font-size: 24rem;
    color: var(--text);
    color: currentcolor;
    margin-bottom: 17rem; }
  .services__desc {
    font-family: var(--ff);
    font-weight: 400;
    font-size: 16rem;
    text-align: center;
    color: var(--desc);
    color: currentcolor;
    margin-bottom: 17rem; }
  .services__link {
    font-family: var(--ff);
    position: relative;
    font-weight: 600;
    font-size: 16rem;
    color: var(--hover);
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: currentcolor; }

.services__ico {
  position: absolute;
  top: -2rem; }

.doctor {
  margin-bottom: 130rem; }
  .doctor__box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 27rem;
    grid-row-gap: 28rem; }
    @media (max-width: 992px) {
      .doctor__box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 27rem;
        grid-row-gap: 27rem; } }
    @media (max-width: 768px) {
      .doctor__box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 27rem;
        grid-row-gap: 27rem; } }
  .doctor__item {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-inline: auto;
    border-radius: 20rem;
    background: var(--bgcolor);
    cursor: pointer;
    padding-bottom: 43rem; }
  .doctor__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 13rem;
    margin-bottom: 25rem;
    margin-top: 44rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .doctor__image {
    max-width: 63rem;
    border-radius: 100%; }
  .doctor__image:hover {
    -webkit-box-shadow: 0 4rem 4rem 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0 4rem 4rem 0 rgba(0, 0, 0, 0.25);
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s; }
  .doctor__name {
    font-weight: 600;
    font-size: 20rem;
    color: var(--text); }
  .doctor__specialty {
    font-weight: 400;
    font-size: 16rem;
    color: var(--desc); }
  .doctor__desc {
    font-weight: 400;
    font-size: 16rem;
    color: var(--desc);
    margin: 28rem; }
  .doctor__button {
    font-weight: 600;
    font-size: 20rem;
    color: var(--bgcolor);
    border-radius: 50rem;
    background: var(--hover);
    padding: 10rem 45rem;
    margin-bottom: 43rem; }
    @media (max-width: 768px) {
      .doctor__button {
        font-weight: 400;
        padding: 10rem 15rem; } }
  .doctor__button:hover {
    background: var(--bgcolor);
    color: var(--hover);
    border: 2rem solid var(--hover); }

.footer {
  max-width: 1440rem;
  background: var(--bgcolor);
  margin-inline: auto;
  text-align: left; }
  .footer__cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 3fr);
    grid-column-gap: 107rem;
    grid-row-gap: 0rem;
    padding-top: 106rem;
    padding-bottom: 77rem; }
    @media (max-width: 992px) {
      .footer__cont {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
        margin-inline: auto;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: 20rem;
        padding: 20rem; } }
  .footer__logo {
    font-weight: 600;
    font-size: 24rem;
    color: var(--text); }
  .footer__desc {
    font-weight: 400;
    font-size: 16rem; }
  .footer__title {
    font-weight: 400;
    font-size: 16rem; }
  .footer__contact {
    font-weight: 600;
    font-size: 20rem; }
  .footer h4 {
    font-weight: 600;
    font-size: 20rem; }
  .footer li {
    padding-bottom: 15rem; }

/*# sourceMappingURL=style.css.map */