.doctor {
  margin-bottom: 130rem;
  &__box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 27rem;
    grid-row-gap: 28rem;
    @include tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 27rem;
      grid-row-gap: 27rem;
    }
    @include tablet-small {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(6, 1fr);
      grid-column-gap: 27rem;
      grid-row-gap: 27rem;
    }
  }

  &__item {
    text-align: center;
    justify-content: center;
    margin-inline: auto;
    border-radius: 20rem;
    background: var(--bgcolor);
    cursor: pointer;
    padding-bottom: 43rem;
  }

  &__title {
    display: flex;
    gap: 13rem;
    margin-bottom: 25rem;
    margin-top: 44rem;
    justify-content: center;
  }

  &__image {
    max-width: 63rem;
    border-radius: 100%;
  }
  &__image:hover {
    box-shadow: 0 4rem 4rem 0 rgba(0, 0, 0, 0.25);
    transition: all ease 0.3s;
  }

  &__name {
    font-weight: 600;
    font-size: 20rem;
    color: var(--text);
  }

  &__specialty {
    font-weight: 400;
    font-size: 16rem;
    color: var(--desc);
  }

  &__desc {
    font-weight: 400;
    font-size: 16rem;
    color: var(--desc);
    margin: 28rem;
  }
  &__button {
    font-weight: 600;
    font-size: 20rem;
    color: var(--bgcolor);
    border-radius: 50rem;
    background: var(--hover);
    padding: 10rem 45rem;
    margin-bottom: 43rem;
    @include tablet-small {
      font-weight: 400;
      padding: 10rem 15rem;
    }
  }
  &__button:hover {
    background: var(--bgcolor);
    color: var(--hover);
    border: 2rem solid var(--hover);
  }
}
.all {
  &__desc {
  }
}
.btn {
}
