.footer {
  max-width: 1440rem;
  background: var(--bgcolor);

  margin-inline: auto;
  text-align: left;
  &__cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 3fr);
    grid-column-gap: 107rem;
    grid-row-gap: 0rem;
    padding-top: 106rem;
    padding-bottom: 77rem;

    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-inline: auto;
      justify-content: center;
      gap: 20rem;
      padding: 20rem;
    }
  }

  &__logo {
    font-weight: 600;
    font-size: 24rem;
    color: var(--text);
  }
  &__desc {
    font-weight: 400;
    font-size: 16rem;
  }
  &__title {
    font-weight: 400;
    font-size: 16rem;
  }

  &__contact {
    font-weight: 600;
    font-size: 20rem;
  }
  h4 {
    font-weight: 600;
    font-size: 20rem;
  }
  li {
    padding-bottom: 15rem;
  }
}
.all {
  &__desc {
  }
}
