.join {
  border-radius: 10rem;
  padding: 77rem 20rem 83rem 20rem;
  text-align: center;
  background: #1c1b1f;

  &__title {
    font-family: var(--ff);
    font-weight: 700;
    font-size: 36rem;
    color: var(--white);
    margin-bottom: 47rem;
  }
}

.join-form {
  border-radius: 50rem;
  background: var(--bgcolor);
  padding: 10rem 31rem;
  padding-right: 14rem;
  gap: 10rem;
  display: flex;
  max-width: 717rem;
  margin-inline: auto;

  &__input {
    width: 100%;
    background: transparent;
    border: 0;
    font-family: var(--ff);
    font-weight: 400;
    font-size: 16rem;
    color: var(--text);

    &::placeholder {
      color: var(--gray);
    }
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    background: var(--hover);
    padding: 10rem 25rem;
    font-family: var(--ff);
    font-weight: 600;
    font-size: 20rem;
    color: var(--white);

    @include mobile {
      padding: 10rem;
    }

    &-text {
      @include mobile {
        display: none;
      }
    }

    .material-icons {
      display: none;

      @include mobile {
        display: inline-block;
      }
    }
  }
}
